## LaTeX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.code-workspace

## Mac OS
.DS_Store
.AppleDouble
.LSOverride
._*
.code-workspace

## Images (not needed in repo, only for local PDF compilation)
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg

## Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python